
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  
}

body {
  background: #000;
  overflow: hidden;
  
}
label {
  color: #000;
  margin: 10px;
  display: block;
  font-weight: "bold";
}
.container {
  width: 80%;
  margin: 50px auto;
  
}
h1 {
  margin-bottom: 5px;
}
p {
  margin-bottom: 30px;
}
.contact-box {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.contact-leftside {
  background: #fff;
  flex-basis: 60%;
  padding: 40px 60px;
  font-weight: "bold";
  border: none;
  margin: auto;
}
.contact-left h3 {
  margin-bottom: 30px;
  font-weight: 600px;
}
.contact-right h3 {
  margin-bottom: 30px;
  font-weight: 600px;
}
.contact-left h3::before {
  content: "";
  width: 60px;
  background: black;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: linear-gradient(to right, #24cce2, #240b36);
  color: #fff;
  font-weight: "bold";
  /* font-size: 20px; */
  border: none;
}

h3 {
  font-weight: "bold";
}

.contact-row {
  display: flex;
  justify-content: space-between;
}

.contact-row .contact-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 6px 6px;
  
  overflow: hidden;
  outline: none;
  margin-bottom: 5px;
  font-weight: 500;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  overflow: hidden;
  padding: 10px;
   margin-top: 5px; 
}

button {
  margin-top: 15px;
  background: linear-gradient(to right, #1886df, #240b36);
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
}

td {
  padding-right: 20px;
  padding-top: 20px;
}
