*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    font-weight: bolder;
    margin: auto;
    padding: 10 em;
}

h5{
    font-weight: bold;
    margin: auto;
    padding: 10 em;
}

.Userid{

    margin: auto;
    padding: 20 px;   
}

.password{
    
    margin: auto;
    padding: 20 px;   
}

button{
    margin: auto;
    padding: 10 px;
    

}
